/* Estilo para el botón de "Agregar Producto" */
.add-to-cart-btn {
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra inicial */
}

/* Efecto de flotado y cambio de sombra cuando el cursor pasa por encima */
.add-to-cart-btn:hover {
    transform: translateY(-3px); /* Efecto de flotado */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* Estilo cuando el botón está activo (al mantener el hover) */
.add-to-cart-btn:focus {
    transform: translateY(-3px); /* Mantiene el flotado */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    background-color: #2d8b46; /* Color verde más oscuro */
}

/* Estilo para el botón de "Eliminar" */
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 10px;
}

/* Efecto para el botón de "Eliminar" al pasar el cursor */
.delete-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

/* Estilo para el botón de "Editar" */
.edit-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 10px;
}

/* Efecto para el botón de "Editar" al pasar el cursor */
.edit-btn:focus {
    background-color: #004085; /* Mantiene el color azul */
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}
